.footer {
    color: #A9ADB9;
    justify-content: center;
    float: left;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    bottom: 0;
    padding: 5px;
    background-color: transparent;
    left: 0px;
    right: 0px;
    min-height: 40px;
    position: fixed;
}
.footer_collapse{
    color: #A9ADB9;
    justify-content: center;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    bottom: 0;
    left: 0px;
    right: 0px;
    padding: 5px;
    min-height: 40px;
    float: left;
    width: 100%;
    background-color: transparent;
    text-align: center;
}