

.header
{
width:100%;
height: 70px;
background: linear-gradient(135deg, #297297, #1d83a8);

}
.date-header
{
    margin-left: 300px;
  padding: 20px;
  color: rgb(248, 248, 249);
  font-weight: 400;
  font-size: 15px;
}
.admin-img
{
    height:60px;
  position :fixed;
  right:90px;
    padding:5px;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;

}